* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*medida atraves da borda*/
}

body {
  /* background-image: url(./assets/bg-mobile.jpg); 
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  /*background: color image repeat position/size -> Shorthand*/
  background: url("./assets/bg-mobile.jpg") no-repeat top center/cover;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

#container {
  width: 360px;
  margin: 56px auto 0px; /*Em cima - Nas laterais - em baixo*/
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px; /*Altura da linha*/
  margin-top: 8px;
}

/* links */
ul {
  list-style: none;    

  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {  
  border: 1px solid red;

  display: flex;
  align-items: center; /*Alinha com base no eixo X*/
  justify-content: center; /*Alinha com base no eixo Y*/

  padding: 16px 24px;
  
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /*Safari precisa desse parâmetro*/

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
  padding: 24px 0;
}

/*hover é um tipo de pseudo-selector*/
ul li a:hover{
  background-color: rgba(255, 255, 255, 0.05);
  border: 1.5px solid #FFFFFF;
}

/*Social links */
#social-links {
  display: flex;
  justify-content: center;
  gap: 32px;

  padding: 24px 0;
  font-size: 24px;

}
